<div class="navbar">
  <div class="title">MyAngularUI</div>

 <a routerLink="/home">🏠 Home</a>
  <a routerLink="/login">🔑 Login</a>
  <a routerLink="/signup">🧾 Signup</a>
  <a routerLink="/dashboard">📊 Dashboard</a>
  <a routerLink="/directive">⚙️ Directives</a>
  <a routerLink="/databinding">🔗 Data Binding</a>
  <a routerLink="/formsdemo">📝 Forms</a>
  <a routerLink="/pipes">🧪 Pipes</a>
  <a routerLink="/integrations">integrations</a>
   <a routerLink="/add-employe">add-employe</a>
   <a routerLink="/delete-all">delete-all</a>
<a routerLink="/delete-by-id">deleteById</a>



</div>

<div class="content">
  <router-outlet></router-outlet>


